#rig {
	margin-right: 40px;
}
span {
	color: hsl(15, 100%, 55%);
}
#but {
	background-color: hsl(15, 100%, 55%);
	border-color: hsl(15, 100%, 55%);
	padding-left: 30px;
	padding-right: 30px;
}
li span {
	color: white;
}
#cen {
	text-align: center;
}